@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Passion+One:wght@400;700;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sriracha&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Passion+One:wght@400;700;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sriracha&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'Newsreader', 'Inter';
}

:root {
    --cor01: #426B1F;
}

* {
    margin: 0px;
    padding: 0px;
    text-align: justify;
}

body {
    width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

footer {
    display: flex;
    flex-wrap: wrap;
    padding: 30px 80px;
    align-items: center;
    max-width: 100%;
    justify-content: space-between;
    margin-bottom: 85px;
}

footer > h1 {
    font-size: 2em;
    font-weight: 500;
    color: var(--cor01);
}

footer > nav {
    display: flex;
    align-items: center;
}

footer > nav > a {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    padding: 13.5px 23px;
    border-radius: 8px;
}

footer > nav > a:hover {
    background-color: #c2c2c2;
    transition: 0.3s;
}

footer > nav > a#link-especial {
    background-color: var(--cor01);
    color: white;
    padding: 13.5px 23px;
    margin-left: 20px;
    border-radius: 8px;
}

footer > nav > a#link-especial:hover {
    background-color: #21350f;
    transition: 0.3s;
    text-decoration: none;
}

main > h2 {
    font-family: 'Newsreader', 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 4em;
    text-align: center;
    padding: 85px 8% 0px 8%;
    width: auto;
    max-height: 1020px;
}

main > div#botao{
    padding: 65px 0px 150px 0px;
    text-align: center;
}

main > div#botao > a {
    background-color: var(--cor01);
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    color: white;
    width: auto;
    padding: 19px 32px;
    border-radius: 8px;
}

main > div#botao > a:hover {
    background-color: #21350f;
    transition: 0.3s;
}

main > div#imagens {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 4%;
    margin-bottom: 130px;
}

main > div#imagens > img#salcinha {
    display: block;
    height: auto;
    max-width: 100%;
    margin-bottom: 30px;
}

main > div#imagens > img#legumes {
    display: block;
    height: auto;
    max-width: 100%;
    margin-top: 30px;
}

main > section {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    padding: 0px 15%;
    margin-bottom: 40px;
}

main > section > h3 {
    font-weight: normal;
    margin: 30px 0px;
}